# Binaries
**/bin/
bin-int/

# Keep the premake bin
!vendor/premake/bin/

# CMake
build/
cmake-build-debug/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# CLion files
.idea/

#Others
**.json