#Directories
/bin/
/bin-int/
*/*/*/bin/
*/*/*/bin-int/

#files
*.user

# Precompiled Headers
*.pch

# Visual Studio
.vs/
*.sln
**/*.vcxproj
**/*.filters
**/*.user

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Others
*.ini
*.cfg
*.json