[submodule "LightEngine/vendor/spdlog"]
	path = LightEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LightEngine/vendor/GLFW"]
	path = LightEngine/vendor/GLFW
	url = https://github.com/FahimFuad/glfw.git
[submodule "LightEngine/vendor/imgui"]
	path = LightEngine/vendor/imgui
	url = https://github.com/FahimFuad/imgui
[submodule "LightEngine/vendor/glm"]
	path = LightEngine/vendor/glm
	url = https://github.com/g-truc/glm
