# Binaries
**/bin/
bin-int/
!vendor/premake/bin/
!Spike/vendor/mono/bin

# CMake
build/
cmake-build-debug/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# CLion files
.idea/

#Others
**.json